<div class="container">
  <div class="row">

    <div class="mt-3">
    <a href="/me/store/myCourse">All Courses</a>
      <h1 style="color:red">LIST OF DELETED COURSES </h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Level</th>
            <th scope="col">Time Created</th>
          </tr>
        </thead>

          <tbody>
            {{#each course}}  
              <tr>
                <th scope="row"> {{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                  <a class="btn btn-success restoreButton" data-id="{{this._id}}">Restore</a>

                  <!-- Button trigger modal -->
                  <a class="btn btn-danger "  data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#Delete_btn_modal" >Delete permanently</a>

                  <!-- Modal -->
                  <div class="modal fade " id="Delete_btn_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure that you want to delete this Course permanently
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, that's misclick!</button>'
                          <button type="button" id="deleteButton" class="btn btn-primary">Delete Course</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </td>
              </tr>

              {{else}}
              <tr>
                <td colspan="5">
                  <div class="mt-4 text-center">
                    <h4 style="color:lightslategray">
                      No Deleted Courses.
                    </h4>
                    </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
      </table>
      
      <form name="delete_form" method="POST" ></form>
      <form name="restore_form" method="POST" ></form>



      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="exponential.js"></script>
      <script >
        document.addEventListener('DOMContentLoaded', function() {
          var Delete_btn_modal = document.getElementById('Delete_btn_modal')
          var CourseId;

          var deleteButton= document.getElementById('deleteButton');
          var deleteForm= document.forms['delete_form'];
          var restoreForm=document.forms['restore_form'];
          var restoreButton= $('.restoreButton');
  
          if (Delete_btn_modal) {
            // truyền id cho cái modal when clicked
            Delete_btn_modal.addEventListener('show.bs.modal', event => {
              // Button that triggered the modal
              const button = event.relatedTarget
              // Extract info from data-bs-* attributes
              Courseid = button.getAttribute('data-id');
              
            })

            deleteButton.onclick=function() {
              deleteForm.action='/courses/'+Courseid+'/hardDelete?_method=DELETE';
              deleteForm.submit();
            }

            restoreButton.click(function(e) {
              Courseid=this.getAttribute('data-id');
              restoreForm.action='/courses/'+Courseid+'/restore?_method=PATCH';
              restoreForm.submit();
            });
          }
        });
      </script>
      
    </div>
  </div>
</div>