<div class="container">
    <div class="row">
        <div class="mt-6">
            <h1 style="color: green">Form Update Courses</h1>
        </div>


        <form method="POST" action="/courses/{{course._id}}?_method=PUT">
            <div class="form-group " class="mb-3">
                <label for="name" class="form-label">Course Name</label>
                <input type="text"  value={{course.name}} name="name" class="form-control" id="Name" placeholder="Name">
            </div>
            <div class="form-group" class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="description" placeholder="description">{{course.description}}</textarea>
            </div>
            <div class="form-group" class="mb-3">
                <label for="videoId" class="form-label">Video Id</label>
                <input type="text" value={{course.videoId}} name="videoId" class="form-control" id="videoId" >
            </div>
            <div class="form-group" class="mb-3">
                <label for="cost" class="form-label">Cost</label>
                <input type="text" value={{course.cost}} name="cost" class="form-control" id="cost" >
            </div>
            <div class="form-group" class="mb-3">
                <label for="level" class="form-label">
                    <select id={{course.level}} name="level" class="form-select" aria-label="Default select example">
                        <option selected >Select level</option>
                        <option value="1">beginner</option>
                        <option value="2">medium</option>
                        <option value="3">pro</option>
                    </select>
                </label>
            </div>
            <div class="mb-3">
                <button type="submit" class="AddCourse">Lưu khóa học</button>
            </div>
        </form>
    </div>
</div>